instance/
.DS_Store
.vscode
.gitignore
.pytest_cache
.coverage
temporary.yaml
tex2speechenv/
upload/
static/output.xml
logger_output.txt
env
venv
out.tex

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64