
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    --main-color: #003f87;
    --dropzone-override: rgb(213, 211, 211);
    /* --dropzone-override: #dbd7d7a9; */
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #eee;
}

/* Header CSS */
header {
    background-color: var(--main-color);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

header h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FFF;
}

header img {
    height: 50px;
    width: auto;
}
/* End of Header CSS */

/* Main CSS */
main {
    width: 100%;
    top: 60px;
}

.descriptionBox {
    width: 40%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.descriptionBox h2 {
    margin: auto;
    margin-bottom: 10px;
}

#submit {
    background-color: var(--main-color);
    color: #FFF;
    padding: 10px 40px;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;
}

#submit:hover {
    background-color: #0a53a6;
    cursor: pointer;
}

.center {
    text-align: center;
}

#outerBlocker {
    width: 100%;
    z-index: 1;
    position: absolute;
}

#blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    visibility: hidden;
}

/* Dropzone Override */
.dropzone {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    border: 4px dashed rgb(152, 152, 152) !important;
    background-color: #eee !important;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    background: var(--dropzone-override) !important;
    border: none !important;
}

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
    background-color: var(--dropzone-override) !important;
    border: none !important;
}

.dropzone .dz-preview .dz-details .dz-filename span {
    background-color: var(--dropzone-override) !important;
}

.dropzone .dz-preview.dz-complete .dz-progress {
    margin-top: 30px !important;
}

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
    margin-top: 30px !important;
}
/* End of Dropzone Override */

/* End of Main CSS */

/* Footer CSS */

footer {
    text-align: center;
    padding: 15px;
}

/* End of Footer CSS */