* {
    padding: 0;
    margin: 0;
}

:root {
    --main-Color: #008080;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    color: var(--main-Color);
}

.inputBox {
    width: 300px;
    padding: 10px 50px;
    text-align: center;
    /* border: 1px solid black; */

    /* Centers div box */
    position: fixed;
    margin-top: 75px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formBox {
    width: 300px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 8px;
}

.output {
    margin-top: 10px;
}
/* 
.output button {
    margin-top: 10px;
    padding: 2px 4px;
}

.output button #link {
    text-decoration: none;
    color: black;
}

#uploadButton {
    display: none;
    margin-left: 125px;
} */

.dropzone {
    border: 2px dashed #0087F7; 
    margin: 10%; 
    min-height: 400px;
}

#submitForm {
    margin: 10%;
    margin-top: 30%;
}

#sub {
    height: 50px;
    width: 100px;
}