<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Tex2Speech</title>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
</head>

<body>
    <h1><span class = "tex2">Tex2</span><span class = "speech">Speech</span></h1>

    <div class="inputBox">

        <!-- File to upload -->
        <h3>Select file to upload</h3>
        <form action = "/submit" method = POST enctype = multipart/form-data> 
            <div class="formBox">
                <input type = file name = file accept = ".tex" id = "uploadFile">
            </div>
            <input id = "uploadButton" type = submit>
        </form>

    </div>
    <br>
</body>

<!-- JavaScript Files -->
<script src="{{url_for('static', filename='main.js')}}"></script>

</html>