<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download - Tex2Speech</title>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
    {{ dropzone.load_css() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='WWULogo.png')}}" align="middle" />
        <h1>Tex2Speech</h1>
    </header>
    <main>
        <div class="inputBox">
            <!-- Download mp3/mp4 audio -->
            <div class="output">
                <h3>To Audio</h3>
                {% for files in file_holder %}
                    <li>Link to audio download (Click to download): <a href="{{ files[1] }}" target = "_blank">{{ files[0] }}</a></li>
                {% endfor %}
            </div>
        </div>
        <div class = "descriptionBox">
            <h2>Using the Converter</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class = "descriptionBox">
            <h2>Supported Command &amp; Libraries</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </main>

    <footer>
        <p>&copy; Copyright 2021</p>
    </footer>
<!-- JavaScript Files -->
<script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>