<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Tex2Speech</title>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='WWULogo.png')}}" align="middle" />
        <h1>Tex2Speech</h1>
    </header>

    <main>
        <div class = "errorBox">
            <h1>ERROR</h1>
            <p>There was an error converting your documents.</p>
        </div>

        <!-- Back Button -->
        <div class = "error_back">
            <a href="/">
                <img src = "{{url_for('static', filename='back.png')}}">
                </img>
            </a>
            <p>Go Back</p>
        </div>

    </main>
    <footer>
        <p>2021</p>
    </footer>
<!-- JavaScript Files -->
<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>