<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Tex2Speech</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <h1><span class = "tex2">Tex2</span><span class = "speech">Speech</span></h1>

    <form action="/upload" enctype="multipart/form-data" method="post">
        <h3>Upload Files</h3>
        <div id="additional">
            <div class="files">
                <div class="single">
                    <div class="main">
                        <h5>Main File (.tex)</h5>
                        <input type="file" id="myFile" name="filename" accept = ".tex"><br>
                    </div>

                    <div class="bib">
                        <h5>Bib File (.bib)</h5>
                        <input type="file" id="bibFile" name="bibFile" accept = ".bib"><br>
                    </div>

                    <div class="input">
                        <h5>Additional Input Tex Files (.tex)</h5>
                        <div class="multipleInputs">
                            <input type="file" id="input" name="inputFile" accept = ".tex"><br>
                        </div>

                        <button id = "addMoreInput" type = "button">&#43;&nbsp;&nbsp;&nbsp;Add Another Input File</button>
                    </div>
                </div>
            </div>
    
            <button id = "addMoreMain" type = "button">&#43;&nbsp;&nbsp;&nbsp;Add Another File</button>
        </div>
        <br>
        <input type="submit" id="submit" value="Submit and Upload">
    </form>
</body>

<script src="{{url_for('static', filename='main.js')}}"></script>

</html>