<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tex2Speech</title>
    <link rel="stylesheet" href="/tex2speech/static/main.css">
</head>
<body>
    <form action="">
        <input type="file" id="myFile" name="filename"><br>

        <button id = "addMoreUpload">Add Another File</button>
        <br>
        <input type="submit" id="submit" value="Submit and Upload">
    </form>
</body>
</html>