<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download - Tex2Speech</title>
    <link rel="shortcut icon" type="image/jpg" href="static/img/Tex2SpeechLogo.png"/>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
    {{ dropzone.load_css() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='img/WWULogo.png')}}" align="middle" />
        <h1>Tex2Speech</h1>
    </header>
    <main>
        <div class="inputBox">
            <!-- Download mp3/mp4 audio -->
            <h2>Your audio files are ready to download</h2>
            <div class="output">
                {% for files in file_holder %}
                    <div class = "fileOutput" title = "Download">
                        <a href="{{ files[1] }}" target = "_blank">
                            <img src = "{{url_for('static', filename='img/download.png')}}">
                            </img>
                        </a>
                        <p>{{ files[0] }}</p><br>
                    </div>
                    <div class = "clearfix"></div>
                {% endfor %}
            </div>

            <!-- Back Button -->
            <div class = "fileOutput" title = "Go Back">
                <a href="/">
                    <img src = "{{url_for('static', filename='img/back.png')}}" title="Go Back">
                    </img>
                </a>
            </div>
        </div>

    <footer>
       <!-- <p>&copy; Copyright 2021</p> -->
    </footer>
<!-- JavaScript Files -->
<script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>